@model List<Demo.Models.Product>

<h2>Trang chủ</h2>

<!-- BANNER -->
<div class="hero-banner">
    <div class="overlay">
        <h1>Shop Thời Trang Nam</h1>
        <p>Phong cách - Trẻ trung - Giá tốt</p>
    </div>
</div>