@model Demo.Models.Product

@{
    ViewData["Title"] = "Create Product";
}

<h2>Create Product</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="Name" />
    </div>
    <div class="form-group">
        <label>Price</label>
        <input class="form-control" name="Price" />
    </div>
    <div class="form-group">
        <label>Image</label>
        <input class="form-control" type="file" name="imageFile" />
    </div>
    <button class="btn btn-primary" type="submit">Create</button>
    <a class="btn btn-secondary" href="/Admin">Back</a>
</form>
